<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.kaszasa.videoeditor" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28" />
	<application android:label="VideoEditor.Android" android:theme="@style/MainTheme" android:requestLegacyExternalStorage="true" android:usesCleartextTraffic="true" android:icon="@mipmap/icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MANAGE_EXTERMAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
</manifest>